<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!-- TODO: rework for proper Environment xdt transforms -->
    
    <add name="DisableByNameConfigMgrContextDisableByName"
         connectionString="Data Source=(localdb)\MSSQLLocalDB_PR;InitialCatalog:ConfigMgr;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

    <add name="ConfigMgr" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB_PR;InitialCatalog:ConfigMgr;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

    <!--
		<add name="MVC02QA" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_Data\MVC02_QA.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="MVC02DEV" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_Data\MVC02_DEV.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="MVC02STG" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_Data\MVC02_STG.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		-->
  </connectionStrings>

  <!--
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
-->
  
</configuration>
